* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    color: black;
    background-color: rgb(172, 246, 172);
}

.uni-img {
    height: auto;
    width: 540px;
    border: 5px solid rgb(0, 142, 250)
}

h1, h2 {
    text-decoration: underline;
}